/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require_self
*/
body {

}

p {
    text-align: center;
    font-size: 1.5em;
}

.big-text {
    font-size: 4em;
    padding: 30px;
}

.list-links {
    list-style-type: none;
    text-align: left;
}

footer {
    margin-top: 50px;
}

#all-cubes {
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
}

.row ul {
    padding: 0px;
}

#all-cubes td {
    border:solid 1px;
    border-color: white;
}

.cube {
    width: 20px;
    height: 20px;
}

.reload-message {
    margin-top: 50px;
}

.navy { background-color: #001F3F; }
.blue { background-color: #0074D9; }
.aqua { background-color: #7FDBFF; }
.teal { background-color: #39CCCC; }
.olive { background-color: #3D9970; }
.green { background-color: #2ECC40; }
.lime { background-color: #01FF70; }
.yellow { background-color: #FFDC00; }
.orange { background-color: #FF851B; }
.red { background-color: #FF4136; }
.fuchsia { background-color: #F012BE; }
.purple { background-color: #B10DC9; }
.maroon { background-color: #85144B; }
.white { background-color: #FFFFFF; }
.silver { background-color: #DDDDDD; }
.gray { background-color: #AAAAAA; }
.black { background-color: #111111; }
